# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
.idea/
*.iws

# maven
target/
logs/
.DS_Store

# Mac
*.properties

/src/main/java/com/bjtu/cloud/docker/DockerTest.java
/target/bjtu-cloud/META-INF/MANIFEST.MF
